# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
*.env

# PyCharm / IntelliJ IDE project files
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/